streamlit
langchain==1.2.16
langchain-openai==1.2.1
langchain-chroma
langchain-community
langgraph
openai
chromadb==0.4.24
pandas
plotly
python-dotenv
pydantic
tavily-python
requests
protobuf>=3.20.0,<4.0.0