streamlit
langchain==1.2.16
langchain-openai==1.2.1
langchain-chroma
langchain-community
langgraph
openai
chromadb>=0.6.0
numpy>=2.0.0
pandas
plotly
python-dotenv
pydantic
tavily-python
requests
opentelemetry-exporter-otlp-proto-grpc==1.20.0
opentelemetry-sdk==1.20.0
grpcio==1.59.0
protobuf==4.25.0